<div class="dashboard-icon">
  <div class="icon">
    <nb-icon
      icon="video"
      status="primary" class="icon"></nb-icon>
    <h1>Total Movies</h1>
    <h3>{{data?.total}}</h3>
  </div>
  <div class="icon">
    <nb-icon
      icon="checkmark-circle-2-outline"
      status="danger" class="icon"></nb-icon>
    <h1>Total Bookings</h1>
    <h3>{{data?.count}}</h3>
  </div>
  <div class="icon">
    <nb-icon
      icon="bar-chart-2-outline"
      status="success" class="icon"></nb-icon>
    <h1>Total Revenue</h1>
    <h3>{{data?.income}}</h3>
  </div>
</div>

