<nb-card size="medium">
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        Ticket List
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <table class="table table-bordered table-responsive-md table-hover">
        <thead>
        <tr>
          <th>SN</th>
          <th>Movie</th>
          <th>Total Tickets</th>
          <th>Available Tickets</th>
          <th>Ticket Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of tickets; let i=index ">
          <td>{{i+1}}</td>
          <td>{{ticket.movie_name}}</td>
          <td>{{ticket.total_tickets}}</td>
          <td>{{ticket.available_tickets}}</td>
          <td>{{ticket.ticket_price}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
